html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.labels {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
body { 
	font-family: sans-serif; padding:0px;
}

#panel div, #panel input {
pointer-events: all;
}

#panel{
	position: absolute;
	top:20px;
	left:20px;
	pointer-events:none;
}
#address{
	display:inline-block;
	height: 30px;
	padding-left: 0px;
	pointer-events:fill;
}
#search-button{
	padding-right: 0px;
	width:80px;
	pointer-events:fill;
}
#showWeather{
	height: 150px;
	width: 345px;
}
#weather{
	height: 140px;
	width: 200px;
    padding-right: 2px;
    background-color: #ffffff;
    border: 1px solid gray;
    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
}
#weatherIcon{
	height: 140px;
	width: 140px;
	padding-left: 2px;
	background-color: #ffffff;
    border: 1px solid gray;
    opacity: 0.7;
    float:right;
}
#weather-weekForecast{
	height:500px;
	width:345px;
}
.forecast-list{
	height: 30px;
	width: 345px;
    padding-right: 2px;
    background-color: #ffffff;
    border: 1px solid gray;
    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
}
#summary{
	height: 120px;
	width: 345px;
}
#week-weather-summary{
	width:200px;
	height:110px;
	padding-right: 2px;
    background-color: #ffffff;
    border: 1px solid gray;
    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
}
#week-weather-summary-icon{
	height:110px;
	width:140px;
	padding-left: 2px;
	background-color: #ffffff;
    border: 1px solid gray;
    opacity: 0.7;
    float:right;
}
#icon2{
	padding-right:5px;
	padding-left: 5px;
	/*padding:auto;*/
}
.day{
	height:30px;
	width: 40%;
	float:left;
}
.temp{
	height:30px;
	width: 40%;
	float:left;
}
.icon3{
	height:30px;
	width: 20%;
	float:right;
}

